<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f3bbc03a-156c-48a6-a041-74dd2ef0c8bc" Publisher="CN=rysloan" Version="1.0.0.0" />
  <Properties>
    <DisplayName>QuizCards</DisplayName>
    <PublisherDisplayName>rysloan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="QuizCards.App">
      <VisualElements DisplayName="QuizCards" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="QuizCards" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#497959" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="deck">
            <DisplayName>QuizCard Deck</DisplayName>
            <Logo>Assets/Icon.png</Logo>
            <SupportedFileTypes>
              <FileType ContentType="deck/quizcard-deck">.qcd</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>